{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load account %}

{% block head_title %}
    {% trans "Confirm Email Address" %}
{% endblock %}

{% block content %}
    <h2 class="text-center mb-4">{% trans "Confirm Email Address" %}</h2>
    {% if confirmation %}
        {% user_display confirmation.email_address.user as user_display %}
        {% if can_confirm %}
            <p class="text-center">
                {% blocktrans with email=confirmation.email_address.email %}
                    Пожалуйста, подтвердите, что <strong>{{ email }}</strong> - это ваш email адрес.
                {% endblocktrans %}
            </p>
            <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                {% csrf_token %}
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">{% trans 'Confirm' %}</button>
                </div>
            </form>
        {% else %}
            <p class="text-center">
                {% blocktrans %}
                    Невозможно подтвердить email, так как он уже подтвержден другим аккаунтом.
                {% endblocktrans %}
            </p>
        {% endif %}
    {% else %}
        <p class="text-center">
            {% url 'account_email' as email_url %}
            {% blocktrans %}
                Срок действия ссылки для подтверждения email истек или она недействительна.
                Пожалуйста, <a href="{{ email_url }}">запросите новую ссылку для подтверждения</a>.
            {% endblocktrans %}
        </p>
    {% endif %}
{% endblock %} 