{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% load crispy_forms_tags %}

{% block head_title %}
    {% if token_fail %}
        {% trans "Неверный токен" %}
    {% else %}
        {% trans "Изменить пароль" %}
    {% endif %}
{% endblock head_title %}

{% block content %}
    {% if token_fail %}
        <h2 class="text-center mb-4">{% trans "Неверный токен" %}</h2>
        {% url 'account_reset_password' as passwd_reset_url %}
        <div class="alert alert-danger text-center">
            {% blocktrans %}Ссылка для сброса пароля недействительна, возможно, потому что она уже была использована. Пожалуйста, <a href="{{ passwd_reset_url }}" class="alert-link">запросите новый сброс пароля</a>.{% endblocktrans %}
        </div>
    {% else %}
        <h2 class="text-center mb-4">{% trans "Изменить пароль" %}</h2>
        
        {% if form.errors %}
        <div class="alert alert-danger">
            {% for field, errors in form.errors.items %}
                <strong>{{ field.label }}:</strong>
                {% for error in errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endfor %}
        </div>
        {% endif %}

        {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %}

        <form method="post" action="{{ action_url }}">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-grid gap-2 mt-3">
                <button type="submit" name="action" class="btn btn-primary">{% trans 'Изменить пароль' %}</button>
            </div>
        </form>
    {% endif %}
{% endblock content %}
