{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}
    {% trans "Сброс пароля" %}
{% endblock %}

{% block content %}
    <h2 class="text-center mb-4">{% trans "Сброс пароля" %}</h2>
    
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="text-center">
        {% trans "Забыли пароль? Введите ваш email ниже, и мы отправим вам письмо для сброса пароля." %}
    </p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {% for field in form %}
            {% if field.name == 'email' %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">Email</label>
                    <input type="email" name="{{ field.name }}" id="{{ field.id_for_label }}" class="form-control" placeholder="Email">
                </div>
            {% else %}
                {{ field|as_crispy_field }}
            {% endif %}
        {% endfor %}
        <div class="d-grid gap-2 mt-3">
            <button class="btn btn-primary" type="submit">{% trans 'Сбросить пароль' %}</button>
        </div>
    </form>

    <div class="text-center mt-3">
        <p>{% blocktrans %}Если у вас возникли проблемы со сбросом пароля, пожалуйста, свяжитесь с нами.{% endblocktrans %}</p>
    </div>
{% endblock %} 